/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 20px 0px 20px;
  text-align: center;
}

#nickname{
	display: block;
	margin: 20px auto;
	text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}



#menu{
	margin: 5px auto;
	text-align: center;
	display: block;
}

#container {
	margin: 15px auto;
	display: block;
	text-align: center;
}
#menu > table, #container > * {
	display: inline-block;
}
table.show-all-albums {
	margin-top: 20px;
}
table.show-all-albums td {
	padding: 10px;
}
#album-photo {
	max-height: 300px;
	max-width: 300px;
}
.hide {
	display: none!important;
}

.message-box {
	display: block;
	padding: 5px;
}
.succes-message {
	color: green;
		border: 1px solid green
}
.validation-error {
	border: 1px solid red;
	color: red;
}
.description-image {
	padding: 5px;
	border: 1px solid #ffc000;
	background-color: #fff8e5;
	margin: 3px auto;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.submit-button {
	display: block;

	margin: 5px auto;
}
.nav-buttons-container tr, .nav-buttons-container td  {
	text-align: center;
	margin-top: 15px;
}
.nav-buttons-container {
	display: inline-block;
}

#album-image-container td {
	text-align: center;
	padding: 5px;
}