@import "../reindeer/styles.css";

body {
	background: blue!important;
}

.v-caption-description-image {
	padding: 5px!important;
	border: 1px solid #ffc000!important;
	background-color: #fff8e5!important;
	margin: 3px auto!important;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:300px!important;
}
.v-caption-description-image * {
	text-align: center!important;
	margin: 0px auto!important;
	float:none;
}

.album-photo img{
	max-height: 300px;
	max-width: 300px;
}

.album-image-container {
	text-align: center;
	padding: 5px;
}

.nav-buttons-container {
	display: inline-block;
}

.main-container {
	width: 500px!important;
	margin: 0px auto!important;	
}
.menu-container {
	display: inline-block!important;
	margin: 10px auto!important;
	text-align: center!important;	
}
.menu-container {
	display: inline-block!important;
	margin: 0px auto!important;	
}

.menu-container > div > div > div {
	float: none!important;
} 

.center {
	display: inline-block!important;
	margin: 0px auto!important;	
	
}

.centermain {
	display: inline-block!important;
	margin: 0px auto!important;	
	
}