@import "../reindeer/styles.css";

body {
	background-color: blue!important;
}

.v-caption-description-image {
	padding: 5px;
	border: 1px solid #ffc000;
	background-color: #fff8e5;
	margin: 3px auto;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}